/* line 3, ../sass/app.scss */
body {
  background-color: cyan;
  font-size: 2em;
  margin: 0;
  padding-top: 20px;
}

/* line 9, ../sass/app.scss */
ul {
  list-style: none;
}
/* line 11, ../sass/app.scss */
ul li {
  overflow: hidden;
}

/* line 15, ../sass/app.scss */
.thumb {
  float: left;
  margin: 1% 2%;
}

/* line 20, ../sass/app.scss */
.detail-ul {
  list-style: none;
}
/* line 22, ../sass/app.scss */
.detail-ul li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 10%;
}
