@import "compass";

body{
	background-color:cyan;
	font-size: 2em;
	margin: 0;
	padding-top: 20px;
}
ul{
	list-style: none;
	li{
		overflow: hidden;
	}
}
.thumb{
	 float: left;
	 margin: 1% 2%;
}

.detail-ul{
	list-style: none;
	li{
		@include inline-block;
		margin-left: 10%;
	}
}